@import url(__logo/header__logo.css);
@import url(__lang-links/header__lang-links.css);
@import url(__lang-links/__lang-link/header__lang-link.css);
@import url(__lang-links/__lang-link/__lang-link-selected/header__lang-link-selected.css);

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 42px;
    width: 90%;
    margin: auto;
    margin-top: 16px;
}

@media screen and (min-width: 768px) {
    .header {
        min-height: 52px;
        margin-top: 28px;
    }
}