.place {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .place {
        padding-bottom: 72px;
        grid-template-columns: 9fr 10fr;
        grid-template-rows: auto auto;
        grid-auto-flow: column;
        width: 720px;
        margin: 0 auto;
        gap: 48px 28px;
    }
}

@media screen and (min-width: 1024px) {
    .place {
        grid-template-columns: 1fr 484px;
        width: 928px;
        gap: 48px 40px;
    }
}

@media screen and (min-width: 1280px) {
    .place {
        width: 984px;
        padding-bottom: 80px;
    }
}

.place:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
}